body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
#invader {
    background-image: url(background2.png);
}
canvas{
  box-shadow: rgb(73, 73, 73) 20px 20px 20px;
}
h1 {
  color: white;
}
#space{
  background-image: url(background2.png);
}